@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4e6psb');
  src:  url('fonts/icomoon.eot?4e6psb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4e6psb') format('truetype'),
    url('fonts/icomoon.woff?4e6psb') format('woff'),
    url('fonts/icomoon.svg?4e6psb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-github:before {
  content: "\eab0";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-chrome:before {
  content: "\ead9";
}
